{% extends "base/base.html" %}

{% block title %}
  {{object.title}}
{% endblock title %}

{% block main %}
  <h1>{{object.title}}</h1>
  <hr>
  <p>{{object.description}}</p>
  <br>
  <h3>price : 
  {% if object.group == "+" %}
      + {{object.price}}
  {% elif  object.group == "-" %}
      - {{object.price}}
  {% endif %}
  </h3>
  
<hr>
<i>{{object.date}}</i>
<br>
<a href="{% url 'accountetns_edit' object.id %}">edit</a>
<a href="{% url 'accountetns_delete' object.id %}">delete</a>
{% endblock main %}